<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 테스트</title>
</head>
<body>

    <h1>상품 목록 조회</h1>
    <table border="1">
        <th>상품 번호</th>
        <th>상품 이름</th>
        <th>상품 가격</th>
        <th>세부 정보</th>
        <tr th:each="product : ${productList}">
            <td th:text="${product.productNo}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.salePrice}"></td>
            <td><a th:href="@{'product/'+${product.productNo}}">세부정보보기</a></td>
        </tr>
    </table>
    <h2>상품 추가</h2>
    <form th:action="@{/product}" th:method="post">
        <table border="1">
            <th>상품 번호</th>
            <th>상품 이름</th>
            <th>상품 가격</th>
            <tr>
                <td><input type="number" class="form-control" value="0" name="productNo"></td>
                <td><input type="text" class="form-control" name="productName"></td>
                <td><input type="number" class="form-control" value="0" name="salePrice"></td>
            </tr>
        </table>
        <button type="submit">상품 추가</button>
    </form>
</body>
</html>
